<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="nate_helloworld_post_listing_data_source" xsi:type="string">Nate\Helloworld\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Nate\Helloworld\Block\Display">
        <plugin name="nate-helloworld-block-display" type="Nate\Helloworld\Plugin\HelloPlugin" sortOrder="5" />
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="exampleSayHello" xsi:type="object">Nate\Helloworld\Console\Sayhello</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Nate\Helloworld\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">nate_helloworld_post</argument>
            <argument name="resourceModel" xsi:type="string">Nate\Helloworld\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
</config>
